h1 {
  font-family: Open Sans;
}

p {
  font-family: Open Sans;
  font-weight: 600;
}

.small-title {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 20px;
}

.text-banner {
  text-align: center;
  vertical-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-brand {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2em;
  color: #262626;
}

.nav-item {
  font-weight: 800;
  text-transform: uppercase;
}

.background {
  background: transparent;
  transition: 700ms ease;
}

.background.scrolled {
  background: #617676;
}

.banner {
  position: relative;
  background: url(img/cover.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.title {
  font-family: Open Sans;
  font-weight: 800;
  font-size: 50px;
}

.btnD1 {
  display: inline-block;
  margin: 1em 0 0;
  background: #617676;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  font-weight: 800;
}

.btnD1:hover {
  background: black;
  color: white;
  text-decoration: none;
}

.mouse {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-div {
  padding: 80px 0 80px 0;
}

.potrait {
  object-fit: cover;
  object-position: center center;
  height: 450px;
  width: 200px;
}

.title-about {
  font-family: Open Sans;
  font-weight: 800;
  font-size: 30px;
}

.left-about {
  text-align: right;
}

.right-about {
  text-align: left;
}

.skill-content {
  margin-bottom: -20px;
}

/* ANIMATED-BAR */
.skill-bar {
  width: 100%;
}

.skill-bar ul {
  padding: 0;
}

.skill-bar li {
  position: relative;
  list-style: none;
  margin: 50px 0;
  font-weight: 500;
  text-transform: uppercase;
}

.skill-bar li:before {
  content: "";
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  width: 100%;
  height: 15px;
  background-color: rgb(201, 199, 206);
  border-radius: 1000px;
}

.skill-bar li:after {
  content: "";
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  width: 0;
  height: 15px;
  background-color: #617676;
  border-radius: 1000px;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

li.html-bar:after {
  animation-name: html;
}

@keyframes html {
  to {
    width: 80%;
  }
}

li.css-bar:after {
  animation-name: css;
}

@keyframes css {
  to {
    width: 80%;
  }
}

li.js-bar:after {
  animation-name: js;
}

@keyframes js {
  to {
    width: 70%;
  }
}

li.php-bar:after {
  animation-name: php;
}

@keyframes php {
  to {
    width: 60%;
  }
}

li.wp-bar:after {
  animation-name: wp;
}

@keyframes wp {
  to {
    width: 30%;
  }
}

/* EDUCATION-DIV */
.education-div {
  padding-top: 40px;
  padding-bottom: 80px;
  text-align: center;
  background-color: #f0eef0;
}

.edu-content {
  padding-top: 20px;
}

.lamk-logo {
  height: 100px;
}

.wolves-logo {
  margin-top: 20px;
  height: 60px;
}

.edu-date-title {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 20px;
  margin: 30px 50px 30px 50px;
}

.wolves-title {
  margin-top: 50px;
}

.ultra-logo {
  height: 35px;
  margin-top: 30px;
}

.ultra-title {
  margin-left: 30%;
  margin-right: 30%;
}

/* WORKS-DIV */
.works-div {
  padding-top: 40px;
  padding-bottom: 80px;
  text-align: center;
}

.works-hr {
  border: 1px solid #617676;
  width: 100px;
}

.first-work {
  margin-top: 50px;
  position: relative;
  background: url(img/trackerie.png);
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.second-work {
  margin-top: 50px;
  position: relative;
  background: url(img/shopingerie.png);
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.third-work {
  margin-top: 50px;
  position: relative;
  background: url(img/utube.png);
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fourth-work {
  margin-top: 50px;
  position: relative;
  background: url(img/to-do-work.png);
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fifth-work {
  margin-top: 50px;
  position: relative;
  background: url(img/weather-work.png);
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sixth-work {
  margin-top: 50px;
  position: relative;
  background: url(img/rockpaper.png);
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 25px;
  height: 300px;
  width: 95%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #61767647;
  cursor: pointer;
}

.hover-1:hover .overlay-text {
  opacity: 1;
}

.hover-2:hover .overlay-text {
  opacity: 1;
}

.hover-3:hover .overlay-text {
  opacity: 1;
}

.hover-4:hover .overlay-text {
  opacity: 1;
}

.overlay-text {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 30px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid white;
  outline-offset: -18px;
}

/* CONTACT */
.contact-div {
  text-align: center;
  padding-top: 40px;
  background-color: #f0eef0;
}

.contact-hr {
  border: 1px solid #617676;
  width: 80px;
}

.contact-form {
  padding: 20px;
}

input[type="text"],
[type="email"],
select,
textarea {
  width: 60%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

.submit-btn {
  background-color: #617676;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
  margin-left: 20%;
}

.submit-btn:hover {
  background: black;
  text-decoration: none;
}

.social-div {
  padding-bottom: 30px;
  padding-top: 30px;
}

.media-icon {
  padding: 30px 100px 30px 100px;
}

.fab {
  color: #495057;
}

.fab:hover {
  color: #617676;
}

/* MOBILE-VER */
@media (max-width: 500px) {
  .banner {
    background-attachment: unset;
  }

  .text-banner {
    top: 30%;
  }

  .about-div {
    padding-top: 50px;
  }

  .left-about {
    text-align: center;
    margin-bottom: 40px;
  }

  .potrait {
    margin-bottom: 40px;
  }

  .edu-date-title {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 1000px) {
  input[type="text"],
  [type="email"],
  select,
  textarea {
    width: 100%;
  }

  .submit-btn {
    margin-left: 0;
  }
}
